/* IMPORT LOCAL FONTS */

@font-face {
    font-family: 'CircularStd-Black';
    src: local('CircularStd-Black'), url(./fonts/CircularStd-Black.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-BlackItalic';
    src: local('CircularStd-BlackItalic'), url(./fonts/CircularStd-BlackItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-Bold';
    src: local('CircularStd-Bold'), url(./fonts/CircularStd-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-BoldItalic';
    src: local('CircularStd-BoldItalic'), url(./fonts/CircularStd-BoldItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-Book';
    src: local('CircularStd-Book'), url(./fonts/CircularStd-Book.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-BookItalic';
    src: local('CircularStd-BookItalic'), url(./fonts/CircularStd-BookItalic.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-Medium';
    src: local('CircularStd-Medium'), url(./fonts/CircularStd-Medium.otf) format('opentype');
  }
  @font-face {
    font-family: 'CircularStd-MediumItalic';
    src: local('CircularStd-MediumItalic'), url(./fonts/CircularStd-MediumItalic.otf) format('opentype');
  }